
@tailwind base;
@tailwind components;
@tailwind utilities;



.boxSkill{
    /* padding: 20px; */
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 8px;
}

.skillName{
    font-size: 34px;
} 

.icons{
    font-size: 45px;
}




.font{
    font-family: "Caveat", cursive;
    font-weight: 600;
}

.kavoon{
    font-family: "Kavoon", serif;
  font-weight: 800;
  font-style: normal;
}